/* Remove avatar decorations */

[class*="avatarDecoration-"] {
    display: none !important;
}

/* Made by Snare-Hawk#6331 */

[mask="url(#svg-mask-avatar-decoration-profile-status-square-80)"] {
    mask: url("#svg-mask-avatar-status-round-80") !important;
}

[mask="url(#svg-mask-avatar-decoration-profile-status-mobile-square-80)"] {
    mask: url("#svg-mask-avatar-status-mobile-80") !important;
}

svg[class*="avatarDecorationHint"] {
    left: 0px;
    top: 0px;
    height: 80px;
    width: 80px;
}

[class^="userPopoutInner"] [class^="wrapper"] [class^="banner"],
[class^="avatarDecoration"],
[mask^="url(#svg-mask-avatar-decoration-status"],
[class*="bannerSVGWrapper"] mask image {
    display: none;
}

[mask^="url(#svg-mask-avatar-decoration-profile"] [class*="avatarHintInner"] {
    font-size: 12px !important;
}

/* Avatar decoration nitro promo in profiles (https://github.com/Martinz64/remove-nitro) */
[class^="limitedFeatureBorder"] {
	display: none;
}