/* flower icon next to server name */
[class^="flowerStar-"],
[class^="flowerStarContainer-"] 
{
	display: none !important;
}

/* removes server banners */
[class^="animatedBannerHoverLayer-"],
[class^="animatedContainer-"],
[class^="bannerImage-"],
.content-yjf30S [style="height: 84px;"]

{
    display: none;
}

.privateChannels-oVe7HL [href="/store"] + svg,
.item-3XjbnG [class*="Promo"],
.premiumLabel-3HPvdB svg,
.premiumLabel-3HPvdB .badgeIconSettingsMenu-39c26C {
    display: none;
}

.premiumLabel-3HPvdB {
    color: var(--color-muted);
}
