/* Useless settings context menu stuff */

[id="user-settings-cog-Streamer_Mode"],
[id="user-settings-cog-Windows"],
[id="user-settings-cog-Language"],
[id="user-settings-cog-Keybinds"],
[id="user-settings-cog-Notifications"],
[id="user-settings-cog-Activity_Privacy"],
[id="user-settings-cog-Text_Component"],
[id="user-settings-cog-Dismissible_Content_Options"],
[id="user-settings-cog-Hotspot_Options"],
[id="user-settings-cog-Hypesquad_Online"],
[id="user-settings-cog-Overlay"],
[id="user-settings-cog-Game_Activity"],
[id="user-settings-cog-Billing"],
[id="user-settings-cog-Library_Inventory"],
[id="user-settings-cog-Subscriptions"],
[id="user-settings-cog-Nitro_Server_Boost"],
[id="user-settings-cog-Discord_Nitro"],
[id="user-settings-cog-Privacy___Safety"]

{
	display: none !important;
	}
	